@page
@using System.Collections.Generic
@model SportsStore.Pages.CartModel
@{
}

<h2>Your cart</h2>

@if (Model.Cart.Lines == null || Model.Cart.Lines.Count == 0)
{
    <div class="text-center">
        <p>Your cart is currently empty</p>
    </div>
    <div class="text-center">
        <a class="btn btn-dark" href="@Model.ReturnUrl">Continue shopping</a>
    </div>
}
else
{
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">Quantity</th>
                <th class="text-left">Item</th>
                <th class="text-right">Prices</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var line in Model.Cart.Lines)
            {
                <tr>
                    <td class="text-center">@line.Quantity</td>
                    <td class="text-left">@line.Product.Name</td>
                    <td class="text-right">@line.Product.Price</td>
                    <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                    <td>
                        <form asp-page-handler="Remove" method="post">
                            <input type="hidden" name="ProductID" value="@line.Product.ProductID" />
                            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />
                            <button class="btn btn-dark btn-sm" type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
            </tr>
        </tfoot>
    </table>
    <div class="text-center">
        <a class="btn btn-dark" href="@Model.ReturnUrl">Continue shopping</a>
        <a class="btn btn-dark" asp-action="Checkout" asp-controller="Order">Checkout</a>
    </div>
}




