@model Product
@{
    Layout = "_Layout";
    //Layout = "_ImportantLayout";
    //Layout = Model.Price > 100 ? "_ImportantLayout" : "_Layout";

    // the following allows the action method value to override the value defined in this view (p536)
    ViewBag.Title = ViewBag.Title ?? "Product Table";
}

@section Header {
    Product Information
}

<tr><th>Name</th><td>@Model.Name</td></tr>
<tr><th>Price</th><td>@Model.Price.ToString("c") </td></tr>
<tr><th>Category id</th><td>@Model.CategoryId</td></tr>

@section Footer {
    (@(((Model.Price/ViewBag.AveragePrice) * 100).ToString("F2")) % of average price)
}

@section Summary {
    <div class="bg-info text-white m-2 p-2">
        @Json.Serialize(Model)
    </div>
}