<h3>PeopleList</h3>

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Dept</th>
            <th>Location</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in People)
        {
            <tr class="@GetClass(person.Location.City)">
                <td>@person.PersonId</td>
                <td>@person.Surname, @person.Firstname</td>
                <td>@person.Department.Name</td>
                <td>@person.Location.City, @person.Location.State</td>
            </tr>
        }
    </tbody>
</table>

<div class="form-group">
    <label for="city">City</label>
    <select name="city" class="form-control" @bind="SelectedCity">
        <option disabled selected>Select city...</option>
        @foreach (string city in Cities)
        {
            <option value="@city" selected="@(city == SelectedCity)">@city</option>
        }
    </select>

</div>

@code {

    [Inject]
    public DataContext Context { get; set; }

    public IEnumerable<Person> People => Context.People.Include(p => p.Department).Include(p => p.Location);

    public IEnumerable<string> Cities => Context.Locations.Select(l => l.City);

    public string SelectedCity { get; set; }

    public string GetClass(string city) => SelectedCity == city ? "bg-info text-white" : "";

}
